.Material {
    border-color: gray;
    border-radius: 0.5rem;
    border-style: solid;
    background-color: rgba(0, 0, 0, 0.504);
    width: 7vw;
    height: 7vw;
    margin-left: 0.5vw;
    margin-top: 0.5vw;

    img {
        max-width: 7vw;
        max-height: 7vw;
    }
}