.Material {
    position: relative;
    border-color: gray;
    border-radius: 0.5rem;
    border-style: solid;
    background-color: rgba(0, 0, 0, 0.504);
    border-width: 0.15rem;

    &.isLaptopBig {
        width: 12vmin;
        height: 12vmin;
        margin: 0.3rem;

        img {
            max-width: 12vmin;
            max-height: 12vmin;
        }
    
        .effect-icon {
            position: absolute;
            z-index: 1;
            height: 1.5rem;
            top: 0.3rem;
            right: 0.3rem;
    
            &.stamina-up {
                height: 1.6rem;
            }
    
            &.life-up {
                height: 1.3rem;
            }
    
        }
    }

    &.isLaptop {
        width: 6.5rem;
        height: 6.5rem;
        margin: 0.3rem;

        img {
            max-width: 6.5rem;
            max-height: 6.5rem;
        }
    
        .effect-icon {
            position: absolute;
            z-index: 1;
            height: 1.5rem;
            top: 0.3rem;
            right: 0.3rem;
    
            &.stamina-up {
                height: 1.6rem;
            }
    
            &.life-up {
                height: 1.3rem;
            }
    
        }
    }

    &.isTablet {
        width: 8.5vmax;
        height: 8.5vmax;
        margin: 0.3rem;

        img {
            max-width: 8.5vmax;
            max-height: 8.5vmax;
        }
    
        .effect-icon {
            position: absolute;
            z-index: 1;
            height: 1.3rem;
            top: 0.3rem;
            right: 0.3rem;
    
            &.stamina-up {
                height: 1.4rem;
            }
    
            &.life-up {
                height: 1.1rem;
            }
    
        }
    }

    &.isMobileSmall {
        width: 16vmin;
        height: 16vmin;
        margin: 1vmin;

        img {
            max-width: 16vmin;
            max-height: 16vmin;
        }
    
        .effect-icon {
            position: absolute;
            z-index: 1;
            height: 0.9rem;
            top: 0.3rem;
            right: 0.3rem;
    
            &.stamina-up {
                height: 1rem;
            }
    
            &.life-up {
                height: 0.7rem;
            }
    
        }
    }

    &.isMobileLarge {
        width: 14vmin;
        height: 14vmin;
        margin: 1vmin;

        img {
            max-width: 14vmin;
            max-height: 14vmin;
        }
    
        .effect-icon {
            position: absolute;
            z-index: 1;
            height: 1.1rem;
            top: 0.3rem;
            right: 0.3rem;
    
            &.stamina-up {
                height: 1.2rem;
            }
    
            &.life-up {
                height: 0.9rem;
            }
    
        }
    }

}